<main class="col-md-8">
	<% if (Array.isArray(post.post) && post.post.length > 0) { %>
		<% post.post.forEach(item => { %>
		<article class="post post-1">
			<header class="entry-header">
				<h1 class="entry-title">
					<a href="/posts/<%= item.id %>"><%= item.title %></a>
				</h1>
				<div class="entry-meta">
					<span class="post-category"><a href="/category/<%= item.catid %>"><%= item.catagory %></a></span>

					<span class="post-date"><a href="/date/<%= item.time %>"><time class="entry-date" datetime="<%= item.time %>"><%= new Date(item.time).toLocaleString('en-US', {
						year: 'numeric', month: 'long', day: 'numeric',
						hour: '2-digit', minute: '2-digit'
					}) %></time></a></span>

					<span class="comments-link"><a href="/author/<%= item.author_id %>"><%= item.author %></a></span>

					<!-- <span class="comments-link"><a href="#">4 Comments</a></span> -->
				</div>
			</header>
			<div class="entry-content clearfix">
				<p><%= item.summary %></p>
				<div class="read-more cl-effect-14">
					<a href="/posts/<%= item.id %>" class="more-link"> আরও পড়ুন <span class="meta-nav">→</span></a>
				</div>
			</div>
		</article>
		<% }); %> 
	<% } else { %>
		<div class="col-md-12">
			<div class="alert alert-light text-center py-4 shadow-sm rounded">
			  <h4 class="mb-0">দুঃখিত! কোন পোস্ট পাওয়া যায় নি।</h4>
			</div>
		  </div>
	<% } %>

	<!-- Pagination -->
	<nav aria-label="Page navigation" class="text-center">
		<ul class="pagination">
			<% if (currentPage > 1) { %>
			<li>
				<a href="?page=<%= currentPage - 1 %>" aria-label="Previous">
				<span aria-hidden="true">&laquo;</span>
				</a>
			</li>
			<% } else { %>
			<li class="disabled">
				<span aria-hidden="true">&laquo;</span>
			</li>
			<% } %>

			<% for (let i = 1; i <= totalPages; i++) { %>
			<li class="<%= currentPage === i ? 'active' : '' %>">
				<a href="?page=<%= i %>"><%= i %></a>
			</li>
			<% } %>

			<% if (currentPage < totalPages) { %>
			<li>
				<a href="?page=<%= currentPage + 1 %>" aria-label="Next">
				<span aria-hidden="true">&raquo;</span>
				</a>
			</li>
			<% } else { %>
			<li class="disabled">
				<span aria-hidden="true">&raquo;</span>
			</li>
			<% } %>
		</ul>
	</nav>

	<!-- Pagination End -->
</main>